 .a-tags {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 400px;
}

.git-linked-img {
  width: 8vh;
}

.body {
  width: 100%;
  height: 100%;
  background: url(./images/FullSizeRender-1.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home-title {
  text-align: center;
  color: white;
  font-size: 6vh;
  margin-top: 10px;
}

.scoring-btn {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.scoring-btn:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.scoring-btn:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.scoring-btn:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}


.golf-logo {
  width: 20vh;
}

.header {
  text-align: center;
}